.primary-button {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255));
    padding: 12px 30px;
    border-radius: 30px;
    border: 1px solid black;
    margin-top: 35px;
    cursor: pointer;

}

.primary-button:hover {
    background: linear-gradient(260deg, rgb(0, 0, 0), rgb(79, 76, 76));
    color: white;
    cursor: pointer;
}


.primary-title {
    font-size: 110px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    margin-top: -7vh;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%
    ), url('images/6e9794bcedeecf5a8f8f41338a2a7345.webp')
}

.home {
    margin-top: 10vh;
}

.tag-line{
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
}