.earth{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 400px;
    border-radius: 50%;
    margin-top: 100px;

}

.vintage-pc-div{
    width: 22vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    margin-left: 40vw;
   

}

.vintage-pc{
    width: 100%;
    margin-top: -20vh;
}



.jitter-forward {
    animation-name: jitter;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  
    animation-direction: forward;
    animation-play-state: running;
  }
  .jitter-reverse {
    animation-name: jitter;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  
    animation-direction: reverse;
    animation-play-state: running;
  }
  @keyframes jitter {
    0% {
      transform: skew(0deg) translate(0px, 0px);
    }
    17% {
      transform: skew(0.5deg) translate(-1px, 0px);
    }
    32% {
      transform: skew(0.5deg) translate(0px, 0px);
    }
    48% {
      transform: skew(0deg) translate(0px, 0px);
    }
    63% {
      transform: skew(-0.5deg) translate(1px, 0px);
    }
    79% {
      transform: skew(-0.5deg) translate(0px, 0px);
    }
    100% {
      transform: skew(0deg) translate(0px, 0px);
    }
  }