nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

nav .nav-button {
    cursor: pointer;
    width: max-content;
    height: max-content;
    background-color: black;
        color : white;
        margin-right: 20px;
        margin-top: 3vh;
        padding: 10px 25px;
        border-radius : 200px;
        font-size: medium;
        &:hover{
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            
        }
}

nav .nav-button:disabled {
    background-color: rgb(181, 180, 180);
    color: rgb(0, 0, 0);
}

nav .logo-container {
    width: 170px;
    margin: 15px;
}

nav .logo-container .logo {
    width: 100%;
}
